<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration succesfull</title>
    <style>
        html,body{
            width: 100px;
            height: 100%;
            background: #000;
        }
        h1,p{
            color: aqua;
        }
    </style>
</head>
<body>
    <h1>Hello, <%= name %></h1>
    <p>Thank you for Registring on Artic </p>
</body>
</html>